body {
  margin: 0;
  background-color: whitesmoke;
}

.app {
  direction: rtl;
}
.bg_black {
  color: whitesmoke;
  background-color: rgb(32, 32, 32);
}
.header {
  display: flex;
  justify-content: space-evenly;
  background-color: teal;
}
.title {
  text-align: center;
  width: 100%;
}
.about {
  line-height: 1.75rem;
  font-weight: 700;
  display: flex;
}

.about__sec1,
.about__sec2,
.about__sec3 {
  flex: 0.33;
  border: 2px solid rgb(83, 128, 0);
  margin: 10px 10px 0 10px;
  padding: 10px 15px;
  border-radius: 10px;
  text-align: center;
}

.video {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.video h1 {
  color: orange;
}

.search {
  align-items: flex-end;
  margin-top: 10px;
}

.search input {
  width: 100px;
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid lawngreen;
}

.search h4 {
  margin: 0;
}
.list {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 10px 0;
  background: teal;
}
.list h2 {
  color: white;
  text-align: center;
}
.list ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.list li {
  font-size: 18px;
  font-weight: 700;
  padding: 5px 10px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
}
.list a {
  color: white;
  text-decoration: none;
}

.img {
  height: 400px;
  width: 100%;
}
.img img {
  height: 100%;
  width: 100%;
}
.info {
  display: flex;
  text-align: center;
}
.info div {
  border: 2px solid rgb(0, 0, 0);
  margin: 10px 5px;
  padding: 0 5px;
  border-radius: 10px;
  line-height: 2rem;
  font-weight: 400;
  background-color: teal;
  color: white;
}

.info div h3 {
  color: rgb(172, 169, 169);
  font-size: 20px;
}

footer {
  padding: 20px 0;
  border-top: 3px solid rgb(109, 109, 109);
  background-color: teal;
}

.footer_title {
  font-size: 20px;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  color: black;
}

.icons {
  display: flex;
  justify-content: space-around;
}
.icons i {
  color: rgb(252, 252, 252);
}

.changeBackground {
  align-self: center;
}
.changeBackground button {
  background: greenyellow;
  padding: 10px;
  cursor: pointer;
  margin-left: 20px;
  white-space: nowrap;
  border-radius: 10px;
}
